<ul class="breadcrumb">
  <li>
    <a href="<%= root_path %>">Home</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="<%= project_path @project %>"><%= @project.name %></a> <span class="divider">/</span>
  </li>
  <li>
  	<a href="<%= project_version_path @project, @version %>"><%= @version.version %></a> <span class="divider">/</span>
  </li>
  <li>
    Create a job
  </li>
</ul>

<%= render :partial => 'jobs/form' %>